<div class="login-login">
<div class="login">
	<div class="wrapper-login">

		<div class="container-login">
			<h1>ADMI-LOGIN</h1>

			<form class="form" action="/admin/login" method="POST">
				{{#if adminloginErr}}
				<p class="error" style="color: red;">{{adminloginErr}}</p>

				{{/if}}
				<input type="email" placeholder="Username" name="email">
				<input type="password" placeholder="Password" name="password">
				<button type="submit">Login</button>
				
			</form>
		</div>

		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

		</ul>
	</div>
</div>
</div>



