<div class="login-login">
<div class="login">
	<div class="wrapper-login">

		<div class="container-login">
			<h1>LOGIN</h1>

			<form class="form" action="/userlogin" method="POST">
				{{#if loginErr}}
				<p class="error" style="color: red;">{{loginErr}}</p>

				{{/if}}
				<input type="email" placeholder="Username" name="Email">
				<input type="password" placeholder="Password" name="Password">
				<button type="submit">Login</button>
				<h4 class="Create-new-account"><a class="text-dec-none" href="/auth/google">Create new account</a></h4>
			</form>
		</div>

		<ul class="bg-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>

		</ul>
	</div>
</div>
</div>